{% extends 'base.html.twig' %}

{% block body %}
    <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mb-8">
        <div class="flex justify-center">
            <img src="{{ asset('images/logo-grand.png') }}" alt="Logo Globe Correcteur">
        </div>
        <div class="h-full flex flex-col justify-between">
            <h1 class="text-center mt-8">Globe Correcteur</h1>
            <p class="mx-3">
                Bienvenue chez Globe Correcteur, votre partenaire de confiance pour la perfection linguistique !
                Chez nous, nous comprenons l'importance de présenter un contenu impeccable,dépourvu de fautes
                d'orthographe,
                de grammaire ou de syntaxe. Que vous soyez un professionnel soucieux de l'image de votre entreprise, un
                étudiant cherchant à optimiser la qualité de ses travaux académiques, ou tout simplement quelqu'un
                cherchant
                à communiquer de manière claire et professionnelle, nous sommes là pour vous aider.
            </p>
        </div>
    </div>
    <div class="grid grid-cols-1">
        <div>
            <p class="mb-8 mx-3">
                Nos services de relecture et de correction sont assurés par une équipe compétente et passionnée,
                composée de professionnels de la langue. Chacun de nos réviseurs est minutieusement sélectionné pour ses
                compétences linguistiques exceptionnelles, son expertise dans différents domaines et sa rigueur dans la
                détection des erreurs. Nous travaillons avec un engagement absolu envers la qualité, veillant à ce que
                chaque document que nous traitons soit poli et irréprochable sur le plan linguistique.
            </p>
            <p class="mb-8 mx-3">
                Que ce soit pour des documents professionnels tels que des rapports d'entreprise, des présentations, des
                courriels ou des contenus académiques tels que des thèses, mémoires et essais, nous sommes prêts à vous
                offrir un service personnalisé. Nous comprenons que chaque projet est unique, et c'est pourquoi nous
                adaptons nos services à vos besoins spécifiques.
            </p>
            <p class="mb-8 mx-3">
                En choisissant Globe Correcteur, vous optez pour la tranquillité d'esprit. Notre processus de relecture
                est efficace et précis, garantissant une correction méticuleuse tout en préservant votre style
                d'écriture personnel. Nous respectons les délais et nous nous engageons à vous fournir un travail de
                qualité supérieure.
            </p>
            <p class="mx-3">
                Ne laissez pas les petites erreurs gâcher l'impact de votre message. Faites confiance à Globe Correcteur
                pour faire briller vos écrits. Contactez-nous dès aujourd'hui pour discuter de la manière dont nous
                pouvons améliorer la clarté et la précision de vos documents. Nous sommes impatients de collaborer avec
                vous pour atteindre l'excellence linguistique.
            </p>
        </div>
    </div>
    <div class="grid grid-cols-1 md:grid-cols-3 gap-4 my-8">
        {% for price in prices %}
            <div class="border-solid border-2 border-slate-300 p-4 flex flex-col justify-between relative mx-3">
                {% if price.image is not empty %}
                    <img src="{{ asset('uploads/' ~ price.image) | imagine_filter('price') }}" alt="">
                {% endif %}
                {% if price.best %}
                    <div class="absolute w-16 h-16 -top-4 -right-4">
                        <img src="{{ asset('images/best-price.png') }}" alt="Best Price"/>
                    </div>
                {% endif %}
                <div>
                    <h2>{{ price.name }}</h2>
                    <p>{{ price.description }}</p>
                </div>
                <div class="flex justify-end mt-8">
                    <p class="text-end flex flex-col">
                        <span class="text-lg">{{ price.price }}</span>
                        <span class="text-sm text-slate-400">{{ price.subprice | raw }}</span>
                    </p>
                </div>
            </div>
        {% endfor %}
    </div>
    {# <div class="grid grid-cols-1 md:grid-cols-2 gap-4 my-8">  #}
    {% for employee in employees %}
        <div class="p-4">
            <div class="flex justify-start items-center my-8">
                <div class="flex-none mx-8">
                    <img class="rounded-full" src="{{ asset('images/' ~ employee.photo) }}" alt="{{ employee.name }}">
                </div>
                <div>
                    <h3>{{ employee.name }}</h3>
                    <p>{{ employee.phone }}</p>
                    <p class="text-slate-400">"{{ employee.quote }}"</p>
                </div>
            </div>
        </div>
    {% endfor %}
    {# </div> #}
{% endblock %}
