{% extends 'base-admin.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block title %}Globe Correcteur | Admin{% endblock %}

{% block pagetitle %}Ajouter un enregistrement{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{{ path('admin_home') }}">Accueil</a></li>
    <li class="breadcrumb-item"><a href="{{ path('admin_bank') }}">Banque</a></li>
    <li class="breadcrumb-item active">Ajouter</li>
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Informations</h3>
                </div>
                {{ form_start(form) }}
                <div class="card-body">
                    {{ form_rest(form) }}
                </div>
                <div class="card-footer">
                    <button type="submit" class="btn btn-primary">Ajouter</button>
                </div>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
